{% extends 'base.html' %}

{% block title %} Index{% endblock title %}

{% block css %}

.logo{

  height:250px;
  width:250px;
  margin-left:500px;
  margin-top:33px;
}

#email_design{
margin-left:340px;
}

#password_design{
  margin-left:340px;
}

.item{

margin-left:340px;
}

#btncool{
margin-left:340px;
}



{% endblock %}


{% block body %}
<div id="headimg">
  <img src="static/cool.jpg" class="logo" alt="image error">
</div>
<div class="container my-5">

  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group my-3" id="email_design">
      <h5>Please Login to Enter in Stark Industries</h5>
      <label for="login_email">Email address</label>
      <input type="email" class="form-control" id="login_email" name="login_email" aria-describedby="emailHelp"
        style="width: 300px;">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" id="password_design">
      <label for="login_password">Password</label>
      <input type="password" class="form-control" id="login_password" name="login_password" style="width: 300px;">
    </div>

    <button type="submit" id="btncool" class="btn btn-primary">Submit</button>
    <li class="item">Don't have an account?<a href="/signup">Register</a></li>

  </form>


</div>


{% endblock body %}